%h1 My Favourite Books

%table#books
  %thead
    %tr
      %th Book Title
      %th Genre
      %th ISBN Number
      %th Publish Date
      %th More Info
  %tbody
    - @books.each do |book|
      = render :partial => 'book_row', :locals => { book: book }

%div.buttonsToolbar
  = link_to 'Add new book', new_book_path
